<div id="container" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<h2><%= t(:edit_menu) %></h2>
<%= form_for(@menu) do |f| %>

	<%= f.label t(:language) %><br>
	<%= f.text_field :language, required: true, class: "form-control"%><br>
	<%= f.label t(:locale) %><br>
	<%= f.text_field :locale, required: true, placeholder: "ex: en, pt_br, es", class: "form-control"%>
	<br>
	
	<br>
	<%= f.submit t(:save_edit), class: "btn btn-primary" %>
	<br><br>
<% end %>
</div>