<div id="container" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

<h2><%= t(:admin_home) %></h2>
<%= link_to admins_staff_path do %>
	<div class="homeCard col-xs-12">
		<%= image_tag "waiter", class: "cardImage"  %>
		<%= t(:staff) %>
	</div>
<% end %>

<%= link_to admins_menu_path  do %>
	<div class="homeCard col-xs-12">
		<%= image_tag "menu", class: "cardImage" %>
		<%= t(:menu) %>
	</div>
<% end %>

<%= link_to admins_categories_path do %>
	<div class="homeCard col-xs-12">
		<%= image_tag "categories_list", class: "cardImage" %>
		<%= t(:categories) %>
	</div>
<% end %>

<%= link_to admins_dishes_path  do %>
	<div class="homeCard col-xs-12">
		<%= image_tag "dishes", class: "cardImage" %>
		<%= t(:dishes) %>
	</div>
<% end %>

<%= link_to admins_stats_path do %>
	<div class="homeCard col-xs-4">
		<%= image_tag "stats", class: "cardImage" %>
		<%= t(:stats) %>
	</div>
<% end %>

<%= link_to admins_tables_path do%>
	<div class="homeCard col-xs-4">
		<%= image_tag "tables", class: "cardImage" %>
		<%= t(:tables) %>
	</div>
<% end %>

<%= link_to admins_settings_path do %>
	<div class="homeCard col-xs-4">
		<%= image_tag "settings", class: "cardImage" %>
		<%= t(:settings) %>
	</div>
<% end %>


</div>