<div id="stats-container" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 tableHome">


<h2><%= t(:orders_between_dates) %></h2>


<%= form_tag admins_stats_path, :method => 'get', class: "form-inline inline-btn" do%>
    <label><%= t(:begin) %></label>
    <%= date_field :start_date, params[:start_date], :value => Time.now.strftime("%Y-%m-%d") %> 
    <label><%= t(:end) %></label>
    <%= date_field :end_date, params[:end_date], :value => Time.now.strftime("%Y-%m-%d") %>
    <%= submit_tag t(:search), class: "form-control btn btn-primary", 'data-disable-with' => "Please wait.." %>
<% end %>

<%= form_tag admins_stats_path, :method => 'get', class: "form-inline inline-btn" do%>
    <%= submit_tag t(:show_all), class: "form-control btn btn-primary inline-btn", 'data-disable-with' => "Please wait.." %>
<% end %>
<hr>

<% total = 0 %>
<% @orders.each do |o|  %>
    <% total+=o.bill_value %>
<% end %>
<h3><%= "#{@orders.count} #{t(:orders_selected)}" %>  </h3>
<% if @start_date.present? and @end_date.present? and ((@end_date - @start_date).to_i / 1.day) > 1 %>
    <h5>Orders between <%= @start_date.strftime("%B, %-d") %> and <%= @end_date.strftime("%B, %-d") %></h5>
<% end %>
<h4>Total: $<%= number_with_precision(total, :precision => 2)%>
    <% if @start_date.present? and @end_date.present? and ((@end_date - @start_date).to_i / 1.day) > 1 %>
    - <%= number_with_precision(total / ((@end_date - @start_date).to_i / 1.day), :precision => 2) %>/day
    <% end %>
</h4>
<hr>


<%
data = {
  labels: I18n.t(:"date.day_names"),
  datasets: [
    {
        label: "Total sold By week day",
        backgroundColor: "rgba(124,223,134,1)",
        borderColor: "rgba(220,220,220,1)",
        data: value_at_weekday(@orders)
    }
  ]
}

dataHours = {
  labels: value_for_hour(@orders).keys,
  datasets: [
    {
        label: "Total sold by hour",
        backgroundColor: "rgba(124,223,134,1)",
        borderColor: "rgba(220,220,220,1)",
        data: value_for_hour(@orders).values
    }
  ]
}

dataWaiters = {
  labels: value_for_waiter(@orders).keys,
  datasets: [
    {
        label: "Total sold by Waiter",
        backgroundColor: "rgba(124,223,134,1)",
        borderColor: "rgba(220,220,220,1)",
        data: value_for_waiter(@orders).values
    }
  ]
}

options = {:height => "100", :scaleBeginAtZero => true}
optionsHours = {:height => "100", :scaleBeginAtZero => true}
optionsWaiters = {:height => "100", :scaleBeginAtZero => true}
%>

<h2><%= t(:sales_by_weekday) %></h2>
<%= bar_chart data, options %>

<h2><%= t(:sales_by_hour) %></h2>
<%= bar_chart dataHours, optionsHours %>

<h2><%= t(:sales_by_waiter) %></h2>
<%= bar_chart dataWaiters, optionsWaiters %>
	<% @orders.each do |o|  %>
		<!-- .strftime("%T - %B, %-d - %Y ") -->
		<% o.inspect %><br>	
		Order created at: <%= I18n.l o.created_at.localtime, :format => "%T - %B, %-d - %Y " %><br>
		<% o.dishes.each do |d|%>
			<%= d.title %><br>
		<% end %>
        <% total += o.bill_value %>
		<br>
        
		Total: $<%= number_with_precision(o.bill_value, :precision => 2) %>
        <hr>
	<% end %><br>
    <hr>
    
</div>