<%= form_for @new do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name, required: true, class: "form-control"%>
<br>

<%= f.label :cpf %><br>
<%= f.number_field :cpf, class: "form-control"%>

<br>

<%= f.label :phone %><br>
<%= f.text_field :phone, class: "form-control"%>

<br>
<%= f.label :password, 'Enter new password' %>
  <br>
  <%= f.password_field :password, required: true, class: "form-control"%>
<br>

<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
<%= f.submit "Add Waiter", class: "btn btn-primary" %>

<% end %>