
<% @tables.each do |t| %>
	<% if (true) and t.number != 0 %>
		<div class="tableCard" id="table-<%=t.id%>">
			<h5>
			- (<%=t.clients.count%>)
			<%= link_to "Table #{t.number}", tables_home_path(id: t) %> 
			(<%= t.code %>) -
			</h5>
			<div id="table<%=t.number%>-content" class="tables-content">
				<% t.clients.each do |c| %>
					<%= link_to c.first_last_name, table_client_path(t,c) %> 

					<%= link_to_if(!c.done, 'Done', toggle_done_table_client_path(t,c), method: :toggle_done, data: 
					{ confirm: 'Is this client done?' }, :class => 'pull-right'){} %>

        			<%= link_to_if(c.done, 'Undone',toggle_done_table_client_path(t,c), method: :toggle_done, data: 
        			{ confirm: 'Is this client not done?' }, :class => 'pull-right'){}%>

					<br>
					($<%= number_with_precision(c.bill_value, :precision => 2) %>)<br>
					<% link_to "Delete client", table_client_path(t,c), method: :delete %>

					<div class="tableOrders">
						<% c.dishes.each do |d| %>
							<%= d.title %>
							
								<% d.price %>
								<%= link_to "Delete", remove_dish_table_client_path(t,client_id: c,dish_id: d, id: d.id), method: :post, data: {confirm: 'Are you sure you want to delete this Dish?'}, class: "pull-right"%> 
							<br>
						<% end %>
					</div>
					<hr>
				<% end %>
				
				<% if t.clients.count != 0 %>
					<br>
					Total: <%= number_with_precision(t.bill_value, :precision => 2) %>
					<br>
					<%= link_to_if(t.requested, "toggle requested", toggle_request_table_path(t,table_id: t, user: 1), method: :post){}%>

				<%else%>
					Empty Table
				<%end%>
			</div> <!-- TableX-content -->

			<% if t.clients.count != 0 %>
				<a id="toggle-show" class="<%= t.number %>">
					- Toggle show -
				</a> 
			<% end %>

			<%= link_to "Finish table", finish_table_table_path(t.waiter,table_id: t.id), method: :post, data: { confirm: 'Do you really want to Finish this table?' }%>

		</div> <!-- Tables --> 
	<%end%>
<%end%> <!-- t defined end -->

<script type="text/javascript">
setInterval( updateTables , 5000);

function updateTables() {
  $.getJSON('/waiters/tables_calling', function (data)
  {
    $('.tableCard').removeClass('calling');
    for (var i = 0; i < data.length; i++)
    {
    	console.log(data[i]);
    	$('#table-' + data[i]).addClass('calling')
    }
  });
}

$(document).ready(function(){
	$("#toggle-show").click(function(){
		var tableID = $(this).attr("class");
	    $("#table" + tableID + "-content").toggle("fast");
	});
});
</script>