<div id="container" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<h2>Edit Table</h2>
<%= form_for @table do |f| %>

<%= f.label :number %><br>
<%= f.number_field :number, :step => 1, min: 1, required: true, class: "form-control"%>
<br>
<%= f.label :code %><br>
<%= f.text_field :code, required: true, class: "form-control"%>
<br>
<%= f.label :waiter, 'Who is in charge' %>
  <br>
  <%= f.collection_select :waiter_id, Waiter.all, :id, :name, include_blank: false, class: "form-control"%>
  <br><br>


<%= f.submit "Save Table", class: "btn btn-primary" %>
<br><br>
<% end %>
</div>