<div id="container" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<h2><%= t(:edit_table) %></h2>
<%= form_for @table do |f| %>

<%= f.label t(:table_number) %><br>
<%= f.number_field :number, :step => 1, min: 1, required: true, class: "form-control"%>
<br>
<%= f.label t(:code) %><br>
<%= f.text_field :code, required: true, class: "form-control"%>
<br>
<%= f.label :waiter, t(:waiter_assigned) %>
  <br>
  <%= f.collection_select :waiter_id, Waiter.all, :id, :name, include_blank: false, class: "form-control"%>
  <br><br>


<%= f.submit t(:save_edit), class: "btn btn-primary" %>
<br><br>
<% end %>
</div>