<!-- Waiter log client in END -->
<% if not current_waiter.present? and not current_admin.present? %>
<div onclick="openNav()" class="mobile-profile mobile-profile-toolbar">
	<div class="pull-left hamb-menu">
		<h2 style="display:inline;">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</h2>
	</div>
	<img src="<%= current_client.avatar_url %>" class="img-circle toolbar-user-image">
	<h3 style="display:inline;">
		<%= current_client.first_last_name %> 
	</h3>
</div>
<% end %>
<!-- Client toolbar -->

<div id="container-table" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1  tableHome">

<!-- Waiter log client in -->

<% if not current_client.present? %>
	<div class="mobile-profile">
		<%= form_for([current_table,@new]) do |f| %>
			<%= f.label t(:name) %><br>
			<%= f.text_field :name, class: "form-control", required: true %><br>
			<%= f.submit t(:login), class: "btn btn-primary" %>
		<% end %>
	</div>
<% end %>

<!-- Client toolbar END -->

<!-- PROFILE FOR MOBILE END -->
<div id="profileSidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <% if current_client.present? %><br>
	<img src="<%= current_client.avatar_url %>" class="img-circle avatar"><br>
	<h3> <%= current_client.first_last_name %> </h3>
	<!-- Request Waiter -->
	<% if current_client.table.requested %>
		<h5><%= t(:waiter_called) %></h5>
	<%else%>
	
	<h5><%=link_to t(:call_waiter), toggle_request_table_path(current_client.table,table_id: current_client.table), user: 2, method: :post, class: "sidenav-link" %></h5>
	<%end%>

	<!-- Request Waiter End -->
	
	<!-- Orders -->
	<% if current_client.dishes.count > 0 %>
		<h4><%= t(:you_have_ordered) %></h4>
		<div id="orders">
			<% current_client.dishes.each do |d| %>
				<h5><%= d.title %></h5>
			<% end %>
		</div>
		<h4><%= t(:total) %>: $<%= number_with_precision(current_client.bill_value, :precision => 2) %></h4>
	<% else %>
		<h4><%= t(:no_orders) %></h4>
		<h4><%= t(:hungry) %></h4>
	<% end %>
	<!-- Orders End -->

	<!-- Check out -->
	
	<% if not current_client.payment_method.present? and current_client.dishes.count > 0%>
	<br>
		<a class="toggle-payment btn btl-xs btn-success" style="color: #fff;">
					<%= t(:select_check_out) %>
				</a>
		<div class="check-out">
			<%= form_tag toggle_check_out_table_client_path(current_table,current_client) do %>
					<%= t(:credit) %> <%= radio_button_tag(:payment_method, t(:credit), true,:item_wrapper_class => 'inline') %>
					<%= t(:cash) %> <%= radio_button_tag(:payment_method, t(:cash),:item_wrapper_class => 'inline md-radio-button') %><br>
					<%= submit_tag t(:check_out), :class => 'btn btn-primary checkOutBtn'%>

			<% end %>
		</div>
	<% elsif current_client.payment_method.present? %>
		<div style="color:#24BD4B; margin-bottom:5px; font-size:16px;">
			<%= "#{t(:paying_with)} #{current_client.payment_method}" %>
		</div>

		<%= link_to t(:cancel_check_out),cancel_check_out_table_client_path(current_table,current_client), method: :cancel_check_out, class: "btn-sm btn-danger btn" %>
		<br><br>
	<% end %>

	<!-- Check out END -->

	<hr>

	<% end %>
	<!-- Who's on the table -->
	<% if current_table.clients.count > 1 %>
		
		<div class="col-xs-12 col-md-12 people-on-table">
			<%= t(:who_is_on) %><br>
			<% current_table.clients.each do |c| %>
				<div class="col-xs-4">
					<img src="<%= c.avatar_url %>" class="img-circle thumb"><br>
					<%= c.first_name %>
				</div>
			<% end %>
		</div>
	<% end %>
	<!-- Who's on the table END-->
	<br>

	
	<%= "#{t(:table_code)}: #{current_table.code}" %>

	<div id="languages-menu">
		<%= t(:languages) %>:<br>
			<% Menu.all.each do |m| %>
				<%= link_to m.language, :locale =>m.locale, class: "sidenav-link"%><br>
			<% end %>
	</div>
</div>
<!-- PROFILE FOR MOBILE END -->

<!-- PROFILE FOR DESKTOP -->
<div class="col-lg-4 col-md-4" id="profile">

	<% if not current_client.present? %>
		<%= form_for([current_table,@new]) do |f| %>
			<%= f.label t(:name) %><br>
			<%= f.text_field :name, class: "form-control", required: true %><br>
			<%= f.submit t(:login), class: "btn btn-primary" %>
		<% end %>
	<% end %>

	<% if current_client.present? %><br>
	<img src="<%= current_client.avatar_url %>" class="img-circle avatar"><br>
	<h3> <%= current_client.first_last_name %> </h3>
	<!-- Request Waiter -->
	<% if current_client.table.requested %>
		<h5><%= t(:waiter_called) %></h5>
	<%else%>
	
	<h5><%=link_to t(:call_waiter), toggle_request_table_path(current_client.table,table_id: current_client.table), user: 2, method: :post %></h5>
	<%end%>

	<!-- Request Waiter End -->
	
	<!-- Orders -->
	<% if current_client.dishes.count > 0 %>
		<h4><%= t(:you_have_ordered) %></h4>
		<div id="orders">
			<% current_client.dishes.each do |d| %>
				<h5><%= d.title %></h5>
			<% end %>
		</div>
		<h4><%= t(:total) %>: $<%= number_with_precision(current_client.bill_value, :precision => 2) %></h4>
	<% else %>
		<h4><%= t(:no_orders) %></h4>
		<h4><%= t(:hungry) %></h4>
	<% end %>
	<!-- Orders End -->



	<!-- Check out -->
	
	<% if not current_client.payment_method.present? and current_client.dishes.count > 0%>
	<br>
		<a class="toggle-payment btn btl-xs btn-success">
					<%= t(:select_check_out) %>
				</a>
		<div class="check-out">
			<%= form_tag toggle_check_out_table_client_path(current_table,current_client) do %>
					<%= t(:credit) %> <%= radio_button_tag(:payment_method, t(:credit), true,:item_wrapper_class => 'inline') %>
					<%= t(:cash) %> <%= radio_button_tag(:payment_method, t(:cash),:item_wrapper_class => 'inline') %><br>
					<%= submit_tag t(:check_out), :class => 'btn btn-primary checkOutBtn'%>
			<% end %>
		</div>
	<% elsif current_client.payment_method.present? %>
		<div style="color:#24BD4B; margin-bottom:5px; font-size:16px;">
			<%= "#{t(:paying_with)} #{current_client.payment_method}" %>
		</div>

		<%= link_to t(:cancel_check_out),cancel_check_out_table_client_path(current_table,current_client), method: :cancel_check_out, class: "btn-sm btn-danger" %>
		<br><br>
	<% end %>

	<!-- Check out END -->

	<% end %>
	<!-- Who's on the table -->
	<% if current_table.clients.count > 1 %>
		<hr>
		<div class="col-xs-12 col-md-12 people-on-table">
			<%= t(:who_is_on) %><br>
			<% current_table.clients.each do |c| %>
				<div class="col-xs-4">
					<img src="<%= c.avatar_url %>" class="img-circle thumb"><br>
					<%= c.first_name %>
				</div>
			<% end %>
		</div>
	<% end %>
	<!-- Who's on the table END-->
	<br>
	<hr>
</div>
<!-- PROFILE FOR DESKTOP END -->

<!-- Menu -->
<div class="col-lg-8 col-md-8" id="menu"  onclick="closeNav()">
	
	<% m = Menu.find_by(locale: current_locale) %>
	<div id="category">
		<% m.categories.each do |c| %>
			<h2 class="category-title"><%= c.name %></h2>
			<h4><%= c.description %></h4>
			<table class="table table-borderless category-table">


			<% c.dishes.each do |d| %>

			<!-- Dish -->
			<tr id="dish-<%= d.id %>-details" class="dish-details-data">
				<td class="menuData">
					<div class="col-xl-12 col-md-12 dish-frame">
						<%= image_tag d.picture.url, class: "dish-picture-home " %>
					</div>
					<div class="text-left col-xl-12 col-md-12">
						<h3 class="line-clamp"><%= d.title %></h3>

						<div class="more">
						<%= d.description %>
						</div>

					</div>
					<div class="text-left col-xl-12 col-md-12">
					<%= link_to_if((current_client.present? and not current_client.done), "#{t(:order)} $#{number_with_precision(d.price, :precision => 2)}",add_dish_table_client_path(current_table, current_client, dish_id: d.id, id: d.id), method: :post, data: 
	    			{ confirm: t(:confirm_order) }, :class => 'btn btn-success pull-right order-btn '){}%>
	    			<!-- <button id="<%= d.id %>" class="toggle-details pull-right btn btn-info ">Less</button>	 -->
					</div>
				</td>
			</tr>
			<!-- Dish END -->
			<% end %>
			</table>
		<% end %>
	</div>
</div><br>
<br>
</div>

<script>

$( document ).ready(function(){
	$(".check-out").hide();
	$(".toggle-payment").click(function(){
	    $(".check-out").toggle("fast");
	});
});

/* Set the width of the side navigation to 250px */

function openNav() {

	if ($(window).width() <= 768 && $(window).width() > 580 )
	{
		document.getElementById("profileSidenav").style.width = "450px";
		
	}
 	if ($(window).width() < 580  && $(window).width() > 300 )
 	{ 
 		document.getElementById("profileSidenav").style.width = "300px";
 	}
 	if ($(window).width() < 300 )
	{ 
 		document.getElementById("profileSidenav").style.width = "100%";
 	}
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("profileSidenav").style.width = "0";
}

</script>