<div id="container" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 tableHome">

<div class="col-lg-4 col-md-4" id="profile">

	<% if current_client.present? %><br>
	<% image_tag current_client.avatar.url(:medium), class: "avatar img-circle" %>
	<img src="<%= current_client.avatar_url %>" class="img-circle avatar"><br>

	<h3> <%= current_client.first_name %> <%= current_client.last_name %> </h3>
	<!-- Request Waiter -->
	<% if current_client.table.requested %>
		<h5>Waiter has been called</h5>
	<%else%>
	
	<h5><%=link_to "Call waiter", toggle_request_table_path(current_client.table,table_id: current_client.table), user: 2, method: :post %></h5>
	<%end%>
	<!-- Request Waiter End -->
	
	<!-- Orders -->
	<% if current_client.dishes.count > 0 %>
		<h4>You've ordered:</h4>
		<div id="orders">
			<% current_client.dishes.each do |d| %>
				<h5><%= d.title %></h5>
			<% end %>
		</div>
		<h4>Total: $<%= number_with_precision(current_client.bill_value, :precision => 2) %></h4>
	<% else %>
		<h4>You haven't ordered anything</h4>
		<h4>Aren't you hungry?</h4>
	<% end %>
	<!-- Orders End -->

	<% else %>
		<%= form_for([current_table,@new]) do |f| %>
			<%= f.label :name %><br>
			<%= f.text_field :name, class: "form-control", required: true %><br>
			<%= f.submit "Login", class: "btn btn-primary" %>
		<% end %>
	<% end %>

	<hr>
	<div class="col-xs-12 col-md-12 people-on-table">
		Who's on the table<br>
		<% current_table.clients.each do |c| %>
			<div class="col-xs-4">
				<img src="<%= c.avatar_url %>" class="img-circle thumb"><br>
				<%= c.first_name %>
			</div>
		<% end %>
	</div>
	<br>
	<hr>
</div>
<!-- Menu -->
<div class="col-lg-8 col-md-8" id="menu">
	<h2>Menu</h2>
	<div id="category">
		<% Category.all.each do |c| %>
			<h4><%= c.name %></h4>
			<table class="table table-bordered">
			<ul class="group-list">

			<% c.dishes.each do |d| %>
			<tr>
			<td>
			<!-- Dish -->

				<div class="col-xl-1 col-md-1 dishPictureHome">
					<%= image_tag d.picture.url, class: "dishPicture img-circle" %>
				</div>

				<div class="text-left col-xl-9 col-md-9">
					<%= d.title %> ($ <%= d.price %>)<br>
					<%= d.description %><br>
				</div>
				 <div class="text-left col-xl-2 col-md-2" style="padding-right: 0px;">
				<%= link_to "Order", add_dish_table_client_path(current_table, current_client, dish_id: d.id, id: d.id), method: :post, data: { confirm: 'Confirm your order' }, class: "btn btn-success pull-right order-btn" %>
				</div>
			<!-- Dish END -->

			</td>
			</tr>
			<% end %>
			</table>
		<% end %>

		
	</div>
</div>
<br>
</div>