<%= form_for([@category,@new]) do |f| %>

	<%= f.label :title %><br>
	<%= f.text_field :title, required: true, class: "form-control"%>

	<%= f.label :description %><br>
	<%= f.text_field :description, required: true, class: "form-control"%>

	<%= f.label :observation %><br>
	<%= f.text_field :observation, class: "form-control"%>

	<%= f.label :price %><br>
	<%= f.number_field :price, required: true,:step => 'any', class: "form-control"%>

	<%= f.label :picture %><br>
	<%= f.file_field :picture %>

	<%= f.label :category %><br>
  	<%= f.collection_select :category_id, Category.all, :id, :name, include_blank: false, class: "form-control"%>
	<br><br>
  	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	<%= f.submit "Add Dish", class: "btn btn-primary" %>
	<br><br>
<% end %>