<%= form_for([@menu,@new]) do |f| %>
<%= f.label t(:name) %><br>
<%= f.text_field :name, required: true, class: "form-control"%>
<br>

<%= f.label t(:description) %><br>
<%= f.text_field :description, class: "form-control"%>

<br>
<%= f.label :menu %><br>
<%= f.collection_select :menu_id, Menu.all, :id, :language, include_blank: false, required: true, :prompt => "Select Language", class: "form-control"%>
<br>
<br>


<button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
<%= f.submit t(:add_category), class: "btn btn-primary" %>
<% end %>