<% if current_admin.present? %>
  <div id="toolbar">
  <%= "#{t(:logged_as)}: #{current_admin.name} (#{t(:admin)})" %> - 
  <%= link_to t(:admin_home), admins_home_path %> / 
  <%= link_to t(:tables), waiters_tables_path %> / <%= link_to t(:sign_out), admin_sign_out_path, method: :delete %><br>  
  </div>
<% end %>

<% if current_waiter.present? and not current_admin.present?%>
  <div id="toolbar">
    <%= "#{t(:logged_as)}: #{current_waiter.name}" %> - 
    <%= link_to t(:sign_out), sign_out_path, method: :delete %>
     / <%= link_to t(:tables), waiters_tables_path %>
     <br>
  </div>
<%end%>
