<!DOCTYPE html>
<html>
  <head>
    <title>EasyOrder</title>
    <%= csrf_meta_tags %>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Fonts -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% if current_admin.present? %>
      <div id="toolbar">
        Logged as <%= current_admin.name %> (Administrator) - 
        <%= link_to 'Admin home', admins_home_path %> / 
         <%= link_to "Tables", waiters_tables_path %> / <%= link_to 'Sign out', admin_sign_out_path, method: :delete %>

         <br>
      </div>
    <% end %>

    <% if current_waiter.present? and not current_admin.present?%>
      <div id="toolbar">
        Logged as <%= current_waiter.name %> - 
        <%= link_to 'Sign out', sign_out_path, method: :delete %>
         / <%= link_to "Back to tables", waiters_tables_path %>
         <br>
      </div>
    <%end%>

    <% "Admin: #{current_admin.present?} 
     Client: #{current_client.present?}
     Waiter: #{current_waiter.present?} 
     Table: #{current_table.present?}" %>

    <%= yield %>

    <!-- Flash -->
    <% if flash[:success] or flash[:error] %>
      <div id="message">
        <% if flash[:success] %>
          <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> <%= flash[:success]%>
          </div>
        <%end%>
        <% if flash[:error] %>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> <%= flash[:error]%><br>
          </div>
        <%end%>
      </div>
    <% end %>
    <script>
      alertMessage();
    </script>
    <!-- Flash End -->
    <br>
    
  </body>
</html>
