<!DOCTYPE html>
<html>
  <head>
    <title>EasyOrder</title>
    <%= csrf_meta_tags %>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Fonts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    
    <%= render "layouts/toolbar" %>

    <div style="color:#fff;">    
      <% "Admin: #{current_admin.present?} 
     Client: #{current_client.present?}
     Waiter: #{current_waiter.present?} 
     Table: #{current_table.present?}" %>
   </div>

    <%= yield %>

    <%= render "layouts/alerts" %>


  </body>
</html>
