<!DOCTYPE html>
<html>
  <head>
    <title>EasyOrder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if current_waiter.present?%>
    <div id="toolbar">
      Logged as <%= current_waiter.name %> - 
      <%= link_to 'Sign out', sign_out_path, method: :delete %>
       / <%= link_to "Back to tables", waiters_tables_path %>
       <br>
    </div>
    <%end%>
    
    <!-- <%current_admin.inspect%><br> -->
  	<!-- <%current_client.inspect%><br> -->
    <!-- <%current_waiter.inspect%><br> -->
    <!-- <%current_table.inspect%><br> -->

  		<%= yield %>
  </body>
</html>
